google_auth_oauthlib==0.4.1
beautifulsoup4==4.9.3
google_api_python_client==1.12.8
protobuf==3.14.0
mysql-connector==2.2.9
mysql-connector-python==8.0.20
PyMySQL==0.10.1
python-dateutil
confluent-kafka
mysql-connector
mysql-connector-python
PyMySQL
SQLAlchemy
